@import '~@angular/material/core/theming/prebuilt/indigo-pink.scss';

html, body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

span.active {
  background-color: gray;
}

form.form_upload {
  text-align: center;
}

div.card-container {
  text-align: center;
  padding-left: 70px;
  padding-right: 70px;
}

div.card-container h3 {
  color: #9e9e9e;
}

div.mdl-layout__header-row nav.mdl-navigation {
  padding-left: 70px;
  padding-right: 70px;
}

div.card-container img.image_list {
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 4px 4px 4px #aaa;
  width: 120px;
}

div.card-container img.image_preview {
  height: 200px;
  min-width: 200px;
  background-color: #D8D8D8;
  margin-bottom: 20px;
}

span.mdl-layout-title {
  padding-left: 33px;
}

.mdl-mega-footer {
  margin-top: 50px;
}

a.mdl-navigation__link:hover {
  color: #33D3FF;
}

footer.mdl-mega-footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

ul.mdl-mega-footer__link-list li:hover {
  color: white;
}

.mdl-layout__header-row .mdl-navigation__link {
  display: inline !important;
}

@-moz-document url-prefix() {
  div.card-container img.image_preview {
    height: 200px;
    min-width: 200px;
    background-color: #D8D8D8;
    margin-bottom: 20px;
    display: inline-block;
  }
}

@media(max-width: 600px) {
  div.mdl-layout__header-row nav.mdl-navigation {
    display: none;
  }
}

@media(min-width: 600px) {
  div.mdl-layout__drawer-button {
    display: none;
  }

}
